.dashboard {
  margin: 50px 0;
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.card-wrapper {
  display: flex;
}

.card-wrapper > div {
  flex: 1;
  margin-right: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 50%;
}

.login-button {
  margin-top: 25px !important;
}

a {
  text-decoration: none;
  color: inherit;
}
